/*
 * pc-better-pagination
 * @author : chenyangdamon
 * @email  : 645230634@qq.com
 * @github : https://github.com/chenyangdamon
 * @Date   : 2017-02-28 22:08:02
 */

$pagination-theme : #ff6428;
// $pagination-theme: $color-theme;
//是否有圆角
$pagination-is-radius: false;
//圆角大小
$pagination-radius: 3px;

//--------------------------------------------------------------------------------------
.pb-pagination {
    overflow: hidden;
    span {
        float: left;
        display: inline-block;
        padding: 0 9px;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        background-color: #fff;
        //是否有圆角
        @if ($pagination-is-radius) {
            border-radius: $pagination-radius;
        }
        cursor: pointer;
        &.pag {
            margin-right: 6px;
            border: 1px solid $pagination-theme;
            transition: background .2s;

            &:active,&:visited {
                background-color: $pagination-theme;
                color: #FFF;
            }
            &:hover{
                background-color: lighten($pagination-theme,13%);
                color: #FFF;
            }

            &.cur {
                background-color: $pagination-theme;
                color: #FFF;
                cursor: text;
                &:hover {

                }
            }

            &.disabled {
                border-color: mix(nth($pagination-theme, 1), #eee, 8%);
                color: mix(nth(#333, 1), #eee, 10%);
                cursor: not-allowed;
                &:hover {
                    background-color: #FFFFFF;
                }
            }
        }
        &.ellipsis{
            margin-right: 5px;
            border:1px solid #FFF;
            cursor: default;
        }
    }
    .pag-box {
        float: left;
        margin: 0 5px;
        height: 26px;
        line-height: 26px;
        input {
            position: relative;
            top: -1px;
            margin: 0 5px;
            width: 30px;
            height: 22px;
            line-height: 22px;
            border: 1px solid $pagination-theme;
            text-align: center;
            font-size: 10px;
            //是否有圆角
            @if ($pagination-is-radius) {
                border-radius: $pagination-radius;
            }
        }
        em {
            margin-right: 10px;
        }
        cite {
            padding: 0 2px;
        }
        .button {
            padding: 0 20px;
            width: auto;
        }
    }
}
